@charset "utf-8";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* all-Reflection */

body {
  font-family: "Lato";
}

.is-rayleway {
  font-family: "Raleway"
}

.inner-all {
  max-width: 1100px;
  margin: 0 auto;
}

img {
  vertical-align: bottom;
}

/* header-bar */

.header-group {
  background-color: #fff;
  position : fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.bolt-icon {
  font-size: 2.0em;
  color: #4e4e4e;
}

.header-icon {
  padding: 14px 12px;
  font-size: 12px;
  color: #fff;
  background-color: #74cfae;
  text-decoration	:none;
}

.header-icon:hover {
  transition: all 1.5s ease;
  color: #333;
}

/* theme */

.main-group {
  padding-top: 70px;
}

.main-theme {
  background-color: #f2f2f2;
}

.main-box {
  text-align: center; 
  vertical-align: middle;
  padding: 250px 0;
}

.theme-text-top {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #74cfae;
}

.theme-text-bottom {
  font-size: 30px;
  color: #c0c0c0;
}

/* what we can do */

.article-group {
  background-color: #74cfae;
}

.section-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end; 
  padding-top: 50px;
}

.artical-text-box {
  margin-left: 80px;
  text-align: center;
  width: 60%;
}

.is-artical-Common {
  color: #fff;
}

.artical-text-top {
  font-size: 24px;
}

.artical-text-bottom {
  text-align: center;
  margin-top: 35px;
  font-size: 20px;
}

/* OUR LATEST WORK */

.container-group {
  background-color: #f2f2f2;
}

.article-box {
  padding: 60px 0 70px 0;
}

.container-text {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
  color:  #727171
}

.caption-group {
  width: 100%;
}

.caption-primary {
  float: left;
  margin-right: 100px;
  margin-top: 80px;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.caption-primary:hover {
  opacity: 1;
}

.caption-primary:nth-child(3n) { 
  margin-right: 0;
}

.caption-primary:nth-child(-n+3) {
  margin-top: 0;
}

.caption-box {
  text-align: center;
}

.caption-text-box {
  margin-top: 90px;
  /* pad↓元はこれdisplay: inline-flex; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.caption-text {
  margin-right: 90px;
  font-size: 16px;
  width: 49%;
  text-align: center;
  color: #6f7070;
}

.caption-button {
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  transition: all 0.3s ease;
  text-decoration: none;
}

.caption-button:hover {
  color: #333;
}

/* our skills */

.item-list {
  background-color: #4e4e4e;
}

.information-group {
  padding: 70px 0 100px 0;
}

.information-text-box {
  text-align: center;
}

.information-text {
  font-size: 26px;
  color: #fff;
}

.information-feature {
  display: flex;
  justify-content: center;
  margin-top: 50px
}

.information-detail {
  margin-right: 180px ;
}

.information-detail:last-child {
  margin-right: 0px ;
}

.lead-text {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
}

/* SNSロゴ */

.global-menu {
  background-color:#f2f2f2;
}

.nav-box {
  padding: 200px 0;
}

.input-contact {
  text-align: center;
}

.input-logo {
  padding: 20px 0px;
  display: inline-block;
  transition: all 0.3s ease;
}

.input-logo:hover {
  text-align: center;
  background-color: #fff;
}

.input-text {
  width: 185px;
  font-size: 2.0em;
  color: #74cfae;
}
/* 下部バー */

.foot-bar {
  background-color: #74cfae;
}

.footer-box {
  text-align: right;
  padding: 20px 0 25px 0;
}

.footer-text {
  font-size: 12px;
  color: #fff;
}






/* tabb */

@media screen and ( max-width:1199px) {
  .inner-all {
    max-width: 97%;
  }

  /* header-bar */
  /* theme */
  /* what we can do */

  .section-box {
    display: block;
    text-align: center;
    padding: 50px 0px 25px;
  }

  .artical-text-box {
    margin: 0 auto;
  }

  .artical-text-top {
    margin-top: 20px;
  }

  /* OUR LATEST WORK */

  .caption-group {
    text-align: center;
    clear: both;
  }

  .caption-primary {
    display: block;
    float: none;
    margin-right: 0
  }

  .caption-primary:nth-child(3n) { 
    margin-bottom: 80px;
  }

  .caption-primary:nth-child(n+3) {
    margin-top: 0;
  }

  .caption-text-box {
    margin-top: 0;
    align-items: center;
    flex-direction: column;
  }

  .caption-text {
    width: auto;
    margin-right: 0;
  }

  .caption-button {
    margin-top: 40px;
  }

  /* our skills */

  .information-feature {
    display: block;
  }

  .information-detail {
    margin-right: 0;
    text-align: center;
    margin-bottom: 88px;
  }

  .information-detail:last-child {
    margin-bottom: 0px;
  }
}
  /* SNSロゴ */
  /* 下部バー */
  /* tabb終了 */




/* sp */
@media screen and (max-width:767px) { 
  /*　画面サイズが767pxからはここを読み込む　*/

  /* header-bar */

  .bolt-icon {
    font-size: 2.5em;
  }

  .header-icon {
    display: none;
  }

  .content-icon {
    padding: 10px;
    float: right;
    border-radius: 4px;
    width: 30px;
    border: 1px solid #ddd;
  }
  
  .menu-icon {
    border: 1px solid #ddd;
    margin-bottom: 4px;
  }

  .menu-icon:last-child {
    margin-bottom: 0;
  }

  /* theme */

  .main-box {
    padding: 160px 0 130px;
  }
  
  .theme-text-top {
    font-size: 80px;
  }

  /* what we can do */

  .artical-text-box {
    width: 82%;
  }

  /* OUR LATEST WORK */

  .caption-text {
    width: 71%;
  }

  /* our skills */
  /* SNSロゴ */

  .nav-box {
    padding: 50px 0;
    margin: 0 15px;
  }
  /* 下部バー */
}