@charset "utf-8";

body {
  font-family: "Lato";
}

.inner-all {
  max-width: 1100px;
  margin: 0 auto;
}

/* header-bar */

.header-bar {
  position : fixed;
  width: 100%;
  background-color: #fff;
}


.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bolt-icon {
  padding: 15px 0;
  font-size: 2.0em;
  color: #4e4e4e;
}

.header-icon {
  padding: 14px 12px;
  font-size: 12px;
  color: #fff;
  background-color: #74cfae;
  text-decoration	:none;
}

.header-icon:hover {
  transition: all 0.3s ease;
  background-color: #333;
}

/* theme */

.main-theme {
  background-color: #f2f2f2;
}

.theme-box {
  text-align: center; 
  vertical-align: middle;
  padding: 250px 0;
}

.theme-text-top {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #74cfae;
}

.theme-text-bottom {
  font-size: 30px;
  color: #c0c0c0;
}

/* what we can do */

.article-group {
  background-color: #74cfae;
}

.article-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.article-box {
  padding-top: 50px;
}

.artical-text-box {
  margin-left: 80px;
}

.is-artical-Common {
  text-align: center;
  color: #fff;
}

.artical-text-top {
  font-size: 24px;
}

.artical-text-bottom {
  margin-top: 35px;
  font-size: 20px;
}

/* OUR LATEST WORK */

article {
  font-family: "Raleway"
}

.container-group {
  background-color: #f2f2f2;
}

.container-box {
  padding: 60px 0 100px 0;
}

.container-text {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
  color:  #727171
}

.caption-primary {
  float: left;
  margin-right: 100px;
  margin-bottom: 80px;
}

.caption-primary:hover {
  opacity: 0.7;
  transition: all 0.3s ease;
}

.caption-primary:nth-child(3n) { 
  margin-right: 0;
}

.caption-primary:nth-child(n+4) {
  margin-bottom: 0;
}

.caption-box {
  text-align: center;
}

.caption-text-box {
  margin-top: 90px;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
}

.caption-text {
  margin-right: 250px;
  font-size: 16px;
  text-align: center;
  color: #6f7070;
}

.caption-button {
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  text-decoration: none;
}

.caption-button:hover {
  transition: all 0.3s ease;
  background-color: #333;
}

/* our skills */

section {
  font-family: "Raleway"
}

.item-list {
  background-color: #4e4e4e;
}

.information-group {
  padding: 70px 0 100px 0;
}

.information-text-box {
  text-align: center;
}

.information-text {
  font-size: 26px;
  color: #fff;
}

.information-feature {
  display: flex;
  justify-content: center;
}

.information-detail {
  margin: 50px 90px 0;
}

.lead-text {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
}

/* snsロゴ */

.global-menu {
  background-color:#f2f2f2;
}

.input-contact {
  padding: 200px 0;
  text-align: center;
}

.input-logo {
  background-color: #f2f2f2;
  padding: 30px 0;
}

.input-logo:hover {
  transition: all 0.3s ease;
  background-color: #fff;
}

.input-text {
  color: #74cfae;
  font-size: 2.0em;
  width: 185px;
}
/* 下部バー */

.foot-bar {
  background-color: #74cfae;
}

.footer-box {
  text-align: right;
}

.footer-text {
  padding: 20px 0 25px 0;
  font-size: 12px;
  color: #fff;
}